@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 213 19% 16%;
    --foreground: 210 17% 93%;
    --card: 213 12% 24%;
    --card-foreground: 210 17% 93%;
    --popover: 213 12% 24%;
    --popover-foreground: 210 17% 93%;
    --primary: 183 100% 35%;
    --primary-foreground: 213 19% 16%;
    --secondary: 213 12% 24%;
    --secondary-foreground: 210 17% 93%;
    --muted: 213 12% 20%;
    --muted-foreground: 210 10% 58%;
    --accent: 183 100% 35%;
    --accent-foreground: 213 19% 16%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 17% 93%;
    --border: 213 10% 28%;
    --input: 213 10% 28%;
    --ring: 183 100% 35%;
    --chart-1: 183 100% 35%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 213 19% 16%;
    --sidebar-foreground: 210 17% 93%;
    --sidebar-primary: 183 100% 35%;
    --sidebar-primary-foreground: 213 19% 16%;
    --sidebar-accent: 213 12% 24%;
    --sidebar-accent-foreground: 210 17% 93%;
    --sidebar-border: 213 10% 28%;
    --sidebar-ring: 183 100% 35%;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
